@media (max-width: 1200px) {
    /* Styles for devices with a width of 1200px or less */
}

@media (max-width: 992px) {
    /* Styles for devices with a width of 992px or less */
}

@media (max-width: 768px) {
    /* Styles for devices with a width of 768px or less */
}

@media (max-width: 576px) {
    /* Styles for devices with a width of 576px or less */
}